<div
  class="gs-cart-footer-sticky {% if cart == empty %} is-empty{% endif %}"
  id="main-cart-footer"
  data-id="{{ section.id }}"
>
  <div class="gs-cart-footer__inner js-contents">
    <div class="gs-cart-footer__totals">
      <span class="gs-cart-footer__label">Total Amount :</span>
      <span class="gs-cart-footer__price">
        <span class="money">{{ cart.total_price | money }}</span>
      </span>
    </div>

    <div class="gs-cart-footer__checkout">
      <button
        type="submit"
        id="checkout"
        class="gs-cart-footer__checkout-btn"
        name="checkout"
        form="cart"
        {% if cart == empty %}
          disabled
        {% endif %}
      >
        PROCEED TO CHECKOUT
      </button>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Cart Footer",
  "settings": []
}
{% endschema %}
