<div class="corporate-page">
  {{ section.settings.content }}
</div>

{% schema %}
{
  "name": "Corporate Page",
  "settings": [
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    }
  ]
}
{% endschema %}